@if (journeyService.journey(); as journey) {
  <div class="container py-3">
    <!-- Progress Bar -->
    <div class="mb-4">
      <div class="d-flex justify-content-between align-items-center mb-2">
         <span class="mat-subtitle-2 text-primary">{{ journeyService.currentWorkflow()?.label }}</span>
         <span class="mat-caption text-muted">{{ journeyService.progress() }}% Complete</span>
      </div>
      <mat-progress-bar mode="determinate" [value]="journeyService.progress()"></mat-progress-bar>
    </div>

    <!-- Main Content -->
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
}
