<div class="mb-3">
  <label class="d-block mb-2" style="color: rgba(0,0,0,0.6);">{{ label }}</label>
  
  <mat-radio-group color="primary" [formControl]="control" [id]="id" class="d-flex flex-column flex-md-row gap-3">
    @for (opt of options; track opt.code) {
      <mat-radio-button [value]="opt.code">{{ opt.label }}</mat-radio-button>
    }
  </mat-radio-group>

  @if (control.invalid && (control.dirty || control.touched)) {
    <div class="text-danger small mt-1" style="font-size: 75%;">
      @if (control.hasError('required')) {
        Please select an option.
      }
    </div>
  }
</div>
