<mat-form-field appearance="outline" class="w-100">
  <mat-label>{{ label }}</mat-label>
  <input 
    matInput 
    [type]="type" 
    [formControl]="control" 
    [id]="id" 
    [placeholder]="placeholder"
  >
  
  @if (control.invalid && (control.dirty || control.touched)) {
    <mat-error>
      @if (control.hasError('required')) {
        {{ label }} is required.
      }
      @if (control.hasError('uniqueRegistration')) {
        Registration number is already taken.
      }
      @if (control.hasError('email')) {
        Please enter a valid email.
      }
    </mat-error>
  }
  @if (control.pending) {
    <mat-hint>Checking...</mat-hint>
  }
</mat-form-field>
